import java.util.Scanner;

public class hoten123 {
    public static void main(String[] args) {
        Scanner scanner = new Scanner(System.in);
        
     
        System.out.print("Nhập họ và tên: ");
        String hoTen = scanner.nextLine();
        
        System.out.print("Nhập lớp: ");
        String lop = scanner.nextLine();
        
        System.out.print("Nhập mã số sinh viên: ");
        String maSoSV = scanner.nextLine();
        
 
        System.out.println("\nThông tin sinh viên:");
        System.out.println("Họ và tên: " + hoTen);
        System.out.println("Lớp: " + lop);
        System.out.println("Mã số sinh viên: " + maSoSV);
        
        scanner.close();
    }
}
